<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div id="header-logo"></div>
        <div id="header-text">Technical Notes</div>
        <div id="header-menu"></div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
